.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    //color: #9890e3;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 600;
    line-height: 39.01px;
  }
}