@import "tailwindcss";

:root {
  --background: #000;
  --text-color: #ffffff;
}

html {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background: var(--background);
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
